body
{
    min-height: 100vh;
    background-color: #fff;
}

.navbar
{
    width: 250px;
    height: 100vh;
    position: fixed;
    margin-left: -300px;
    transition: 0.4s;
}

.nav-link
{
    font-size: 2em;
}

.nav-link:focus, .nav-link:active, .nav-link:hover
{
    background-color: #0c63e4;
}

.dropdown-menu
{
    background-color: #0c63d4;
}

.dropdown-item:active,.dropdown-item:hover,.dropdown-item:focus
{
    background-color: #0d6efd;
}

.my-container
{
    transition: 0.4s;
}

.active-nav
{
    margin-left: 0;
}

.active-cont
{
    margin-left: 250px;
}

#menu-btn:focus
{
    box-shadow: 0 0 0 0.25rem #7952b344;
}
.listItem
{
    border: 2px solid #0d6efd;
    border-radius: 25px;
    min-height:250px;
}
.data_dodania
{
    position: absolute;
    right: 0;
    bottom:0;
    padding: 10px;
}
.deadline
{
    position: absolute;
    bottom: 0px;
    padding: 10px;
}
